In [55]:
import pandas as pd

conditions = ["confirmed", "deaths", "recovered"]

def make_global_df(condition):
    df = pd.read_csv(f"data/time_{condition}.csv")
    df = df.drop(["Province/State", "Country/Region", "Lat", "Long"], axis=1).sum().reset_index(name=f"{condition}")
    df = df.rename(columns={"index":"date"})
    return df

final_df = None
for condition in conditions:
    df = make_global_df(condition)
    if final_df is None:
        final_df = df
    else:
        final_df = final_df.merge(df)

final_df

        date  confirmed   deaths  recovered
0    1/22/20        557       17         30
1    1/23/20        655       18         32
2    1/24/20        941       26         39
3    1/25/20       1433       42         42
4    1/26/20       2118       56         56
..       ...        ...      ...        ...
597  9/10/21  223848084  4616846          0
598  9/11/21  224296843  4625126          0
599  9/12/21  224658951  4630613          0
600  9/13/21  225270139  4639619          0
601  9/14/21  225818867  4649482          0

[602 rows x 4 columns]